<%@ Page language="VB" Codebehind="frmOrderApprItems.aspx.vb" AutoEventWireup="false" Inherits="frmOrderApprItems" MasterPageFile="~/Master/Inventory.Master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
       <asp:Panel ID="pnBody" Style="z-index: 105; left: 0px; top: 1px; font-family: 'Microsoft Sans Serif';
        font-size: 8pt; position: relative; width: 918px;" runat="server" 
           Height="350"> 

<asp:Panel id="Panel2" style="z-index:101; left:40px; top:73px; font-family:'Microsoft Sans Serif'; font-size:8pt; position:absolute;" runat="server" Width="773" Height="299"><asp:Label id="lblRecCount" style="z-index:102; left:39px; top:250px; font-family:'Verdana'; font-size:8pt; position:absolute;" runat="server" Width="109" Height="13">No records found.</asp:Label>
<asp:Label id="Label11" style="z-index:103; left:7px; top:7px; font-family:'Verdana'; font-size:8pt; position:absolute;" runat="server" Width="116" Height="13">Approved Items:</asp:Label>
<asp:GridView id="dgvItems" style="z-index:104; left:10px; top:23px; font-family:'Microsoft Sans Serif'; font-size:8pt; position:absolute;" runat="server" Width="750" Height="217"></asp:GridView>
</asp:Panel>
<asp:Panel id="pnlHeader" style="z-index:105; left:40px; top:12px; font-family:'Microsoft Sans Serif'; font-size:8pt; position:absolute;" runat="server" Width="772" Height="55"><asp:DropDownList id="cboShopName" style="z-index:106; left:122px; top:17px; font-family:'Verdana'; font-size:8pt; position:absolute;" runat="server" Width="168" Height="21"></asp:DropDownList>
<asp:Label id="Label1" style="z-index:107; left:7px; top:20px; font-family:'Verdana'; font-size:8pt; position:absolute;" runat="server" Width="113" Height="13">Shop (Optional):</asp:Label>
</asp:Panel>
    </asp:Panel>
</asp:Content>
