﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="Grid.ascx.vb" Inherits="Grid" %>
    
    <asp:GridView id="dgvSearchResult"  
        style="z-index:107; left:16px; top:11px; font-family:'Microsoft Sans Serif'; font-size:9pt; position:absolute; height: 291px;" 
        runat="server" Width="893px">
        <Columns>
            <asp:TemplateField>
                <ItemTemplate>
                    <asp:Button ID="btnSelect" runat="server" Text="Edit" UseSubmitBehavior=false/>
                </ItemTemplate>
            </asp:TemplateField>
        </Columns>
    </asp:GridView>


