<%@ Page Language="VB" CodeBehind="frm46_RetHistory.aspx.vb" AutoEventWireup="false"
    Inherits="frmRetHistory" MasterPageFile="~/Master/Inventory.Master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<asp:Panel ID="pnBody" Style="z-index: 105; left: 0px; top: 1px; font-family: 'Microsoft Sans Serif';
        font-size: 8pt; position: relative;" runat="server" Width="950" Height="350"> 

    <asp:Panel ID="Panel2" Style="z-index: 101; left: 35px; top: 10px; font-family: 'Microsoft Sans Serif';
        font-size: 8pt; position: absolute;" runat="server" Width="773" Height="286">
        <asp:Label ID="lblRecCount" Style="z-index: 102; left: 26px; top: 242px; font-family: 'Verdana';
            font-size: 8pt; position: absolute;" runat="server" Width="66" Height="13">Rec Count</asp:Label>
        <asp:GridView ID="dgvResult" Style="z-index: 103; left: 10px; top: 12px; font-family: 'Microsoft Sans Serif';
            font-size: 8pt; position: absolute;" runat="server" Width="750" Height="217" GridLines="Both"  >
        </asp:GridView>
        <asp:Button ID="btnClose" runat="server" Text="Close" Style="z-index: 134; left: 659px;
            top: 247px; position: absolute; width: 62px;"  Height="21" />
    </asp:Panel>
    </asp:Panel>
    </asp:Content>