﻿.TestDashBoardStylecss{
	position:absolute;
	left:740px;
	top:15px;
}

.body
{
}
a
{
	text-decoration:none;
}
.search
{
	position:absolute;
	padding-left:80px;
	padding-top:50px;
}
.tdRefresh
{
  width:7%;
}
.tdNewComplaint
{
	width: 50%;
}
.tdLogout
{
  width:7% ;
}
.blank
{
  width:25%;
}
.searchCase
{
  width:35%;
  text-align:right;
  font-size:17px;
  font-weight:bold;
  font-family:Arial,Verdana,sans-serif;
}
.textSearch
{
  width:25%;
}
.tableMargin
{
	margin-left:20px;
	margin-right:20px;
    text-align:left;    
}
.tableMarginHeader
{
	margin-left:15px;
	margin-right:20px;
    text-align:left;    
}
.tableMargin1
{
	margin-left:25px;
	margin-right:25px;
    border:1px solid #1e951f;
}
.styleHeading
{
 color:Green;
 font-family:Arial, Helvetica, sans-serif;
 font-size:18px;
 color:#235709;
 font-weight:bold; 
 border-bottom:1px dotted #235709;
 vertical-align:top;
 text-align:left;

}
.infoStyleGreen1 
{
  font-family:Arial; 
  font-weight:bold; 
  font-size:1.2em; 
  color:#235709
}
.infoStyleGreen2 
{
	font-family:Arial; 
	font-weight:bold; 
	font-size:1.2em; 
	color:#1e951f
}
.sort1
{ 
	font-family:Arial; 
	font-size:1.2em; 
    padding-left:5px; 
	font-weight:bold; 	
}
.sort2
{ 
	font-family:Arial; 
	font-size:1.2em; 
    padding-right:5px; 
	font-weight:bold; 
}

.fromdate
{
  
  text-align:center;
  font-size:14px;
  font-weight:bold;
  font-family:Arial,Verdana,sans-serif;
  vertical-align:middle;
  
}

.todate
{
 
  text-align:center;
  font-size:14px;
  font-weight:bold;
  font-family:Arial,Verdana,sans-serif;
  vertical-align:middle;

}

.tdIdxNoAdvSrch
{
	width:50%;
	 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;	
	
}

.txtBoxAdvSrch
{		
	font-size:0.9em;
	font-family:Arial;
}

.tdCaseIdAdvSrch
{
	width:50%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdNameAdvSrch
{
 width:50%;
 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdSSNoAdvSrch
{
 width:25%;   
  border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdRefNoAdvSrch
{
		width:25%;
    border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdDistAdvSrch
{
	width:50%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdIncDistAdvSrch
{
	width:50%;
   border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdChrgAdvSrch
{
	width:100%;
	 border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdActAdvSrch
{
	width:50%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdRevStatAdvSrch
{
		width:50%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdSpStatAdvSrch
{
	width:50%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdTrlStatAdvSrch
{
	width:50%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdCalStatAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
}

.tdTypAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
	
}

.tdStatAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.tdPltyAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-bottom:2px solid #1e951f;
}

.tdAplRltAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-bottom:2px solid #1e951f;
}

.tdCobStatAdvSrch
{
	width:33%;
	border-left:2px solid #1e951f; 
  border-top:2px solid #1e951f;
  border-bottom:2px solid #1e951f;
  border-right:2px solid #1e951f;
}

.button
{
	width:30px;
	height:20px;
    font-size:10px;
    font-weight:bold;
    font-family:Arial;
}
.bggrey{
	background-color: #666666;
	color:#fff;
}
.font11white{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#FFFFFF;
}






	
          
